@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hue-color: 240; /* 360 red, 230 blue, 250 purple, 142 Green */
  /* hsl(color 0-360,Saturation grey0-100 noGrey, Lightness dark0-white100) */
  --header-color: hsl(var(--hue-color), 50%, 50%);
  --body-color: hsl(var(--hue-color), 70%, 70%);
  --footer-color: hsl(var(--hue-color), 50%, 30%);
  --text-color: hsl(var(--hue-color), 0, 50);
  --text-lighter: hsl(var(--hue-color), 0, 66);
}

/*if i define header as sticky then the sticky-container will be
the parent/body, in which the header can move in */

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

/* ------------------------------Header---------------------------------- */

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.list {
  display: flex;
  margin: 0 20px;
  list-style: none;
}

.header {
  padding: 25px 0px;
  position: sticky;
  top: 0;
  background-color: var(--header-color);
  z-index: 1;
}
.list a {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 40px;
  color: #fff;
}
.list a:hover {
  color: rgb(0, 0, 0);
}
.list li:last-child {
  margin-left: 100px;
}
.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

/* --------------------------------Header---------------------------------- */

/* -----------------------------Home Section--------------------------------- */

.home-container {
  display: grid;

  height: 100vh;
  grid-template-columns: 1fr 1fr;
  /* justify-items: center; /*moves the content of the cell to the
                            middle of the cell horizontaly */
  /* align-items: center;verticaly move it to center of the cell */

  column-gap: 4rem;

  border-bottom: 2px solid grey;
}

.left {
  /* background-color: var(--body-color); */
  justify-self: end;
  align-self: center;
}

.right {
  /* background-color:var(--header-color); */
  justify-self: start;
  align-self: center;
  margin-bottom: 6rem;
  border-radius: 20px;
  width: 50%;
  height: auto;
  border: 2px solid black;
}
.home-container h1 {
  font-size: 2rem;
}

.scroll-down {
  display: block;
  cursor: pointer;
  width: 100px;
  border-radius: 10px;
}
.scroll-down:hover {
  background-color: var(--body-color);
  border-bottom: 2px solid var(--header-color);
}

/* -----------------------------Home Section--------------------------------- */

/*　-----------------------------About section------------------------------- */

.about__container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas:
    "title  title"
    "left-content right-content";

  gap: 40px;
  border-bottom: 2px solid grey;
}

#title {
  justify-self: center;
  align-self: center;
  grid-area: title;
  font-size: 2rem;
  justify-content: center;
}
#left-content {
  grid-area: left-content;

  font-size: clamp(0.5rem, 1.4rem, 6rem);
  padding-left: 20%;
}
#right-content {
  width: 45%;
  height: auto;
  justify-self: start;
  align-self: start;
  grid-area: right-content;
}
/* .images{
    grid-area:images;
    width:20%;
    justify-self: center;
    justify-content: center;
}
.row{
    display:flex;
}
.images{
    justify-self: center;
    flex:50%;
    grid-area:images;

} */

/*　-----------------------------About section------------------------------- */

/*　-----------------------------Portfolio section------------------------------- */

.portfolio-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); */
  /* grid-template-rows: repeat(auto-fit, minmax(50px, .2fr)) */
  /* grid-template-areas:
    "portfolio portfolio portfolio"
    "react-project another-project another2-project";
  margin: 0px 100px 50px; */

  /* margin: 0px 200px; */
  row-gap: 10px;
  column-gap: 10px;
}
#title2 {
  text-align: center;
  padding: 100px 0px;
  font-size: 2rem;
}

.react-card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: rgb(39, 38, 110);

  color: white;
  width: 475px;
  max-height: 670px;
  min-height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 5px grey;
}
.react-card:hover {
  /* transform: scaleX(1.1); */
  transform: scale(1.02, 1.02);
  z-index: 0;
}
.card-content {
  padding: 10px;
}
.react-image {
  flex-basis: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.react-title {
  font-size: 1.5rem;
  text-align: center;
}
.react-description {
  text-indent: 40px;
}
/* .react-color {
  background-color: rgb(146, 13, 235);
} */

.another-project {
  /* grid-area: another-project; */
  justify-self: center;
}
.another2-project {
  /* grid-area: another2-project; */
  justify-self: center;
}

/*　-----------------------------Portfolio section------------------------------- */

/* ---------------------------------Footer----------------------------------- */

.footer {
  background-color: var(--footer-color);
  text-align: center;
  padding: 30px 0px;
  color: white;
}

/* @media screen and (min-width:767px) {
    .footer{
        background-color: var(--footer-color);
        text-align: center;
        padding: 30px 0px;
        color:white;
    }
    
} */

/* ---------------------------------Footer----------------------------------- */

/*---------------------------- Pop up window -----------------------------------*/
/* .hidden {
  display: none;
}

.scrollto {
  background-color: #4caf50; Green
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  border-radius: 10px;
}
.scrollto:hover {
  background-color: grey;
  color: white;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  bring your own prefixes
  transform: translate(-50%, -50%);
  width: 25%;
  height: 25%;
  background-color: rgb(76, 78, 189);
  border-radius: 5px;
  text-align: center;
  z-index: 10;
}
.blur {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
}
.close {
  position: inherit;
  right: 0;
  background-color: transparent;
  width: 5%;
}
*/
.contacts {
  list-style: none;
}
.contacts li a {
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
}
.contacts li a:hover {
  color: black;
  border-bottom: 1px solid black;
}
.contacts1 li {
  display: inline-block;
}
.contacts1 li a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  padding-left: 5px;
}

#nav-close,
#nav-toggle {
  display: none;
}

@media screen and (max-width: 900px) {
  .list {
    display: block;
    margin: -200%;
  }
  .nav-container {
    display: flex;
  }
  .list li:last-child {
    margin-left: 0px;
  }
  .list a {
    margin: 0;
  }
  .show-menu {
    margin: 0;
  }
  #nav-toggle:hover {
    color: white;
  }
  #nav-close {
    width: auto;
    font-size: 1.5rem;
    cursor: pointer;
  }
  #nav-close:hover {
    color: white;
  }
  #nav-toggle {
    font-size: 1.5rem;
    cursor: pointer;
  }
  #nav-close,
  #nav-toggle {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .home-container {
    display: block;
    height: auto;
    padding-top: 5rem;
  }
  .right {
    margin-top: 7rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .left {
    margin-left: 4rem;
    padding-bottom: 1rem;
  }
  .about__container {
    display: block;
    padding-top: 5rem;
    height: auto;
  }
  #title {
    text-align: center;
  }
  #right-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 50%;
  }

  #left-content {
    padding: 5px;
    font-size: 1rem;
  }

  .react-card {
    width: 450px;
  }
}

@media screen and (max-width: 500px) {
  /* #left-content {
    padding: 0px;
    font-size: 0.6rem;
  } */
  #right-content {
    min-width: 30%;
    max-height: 40%;
  }

  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .react-card {
    width: 350px;
    /* padding-bottom: 10px; */
    margin: 10px;
  }
}

@media screen and (max-width: 1300px) {
  #left-content {
    margin-left: 0px;
  }
  #right-content {
    font-size: 1rem;
    width: 70%;
  }
  .about__container {
    height: auto;
  }
  .portfolio-container {
    height: auto;
  }
}
