
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root{
    --hue-color:240;  /* 360 red, 230 blue, 250 purple, 142 Green */ 
    /* hsl(color 0-360,Saturation grey0-100 noGrey, Lightness dark0-white100) */
    --header-color:hsl(var(--hue-color),50%,50%);
    --body-color:hsl(var(--hue-color),70%,70%);
    --text-color:hsl(var(--hue-color),0,50);
    --text-lighter:hsl(var(--hue-color),0,66);
}

/*if i define header as sticky then the sticky-container will be
the parent/body, in which the header can move in */

body{
    font-family: 'Poppins', sans-serif;
    background-color:#fff;
}

/* ------------------------------Header---------------------------------- */
.header{
    padding:25px 0px;
    position:sticky; 
    top:0;
    background-color: var(--header-color);
    
}

.logo a{
    text-decoration: none;
    font-size: 1.5rem;  
    color:white;
}
.nav-container{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
  
}

.list{
    display:flex;
    margin: 0 20px;
    list-style: none;
    
}
.list a{
    text-decoration: none;
    font-size:1.5rem;
    margin: 0 40px;
    color:#fff;
}
.list li:last-child{
    margin-left:100px;
}

/* --------------------------------Header---------------------------------- */



/* -----------------------------Home Section--------------------------------- */
.home-container{
    display:grid;

    height:100vh;
    grid-template-columns: 1fr 1fr;
     /* justify-items: center; /*moves the content of the cell to the
                            middle of the cell horizontaly */
     /* align-items: center;verticaly move it to center of the cell */
   
    column-gap: 4rem;
    border-bottom: 2px solid grey;
   
}



.left{
    /* background-color: var(--body-color); */
    justify-self: center;
    align-self: center;
    
}

.right{
    /* background-color:var(--header-color); */   
    justify-self: center;
    align-self: center;
    margin-bottom: 6rem;
}
.home-container h1{
    font-size: 2rem;
}


.profile-img {
width:70%;
    border:2px solid black;
    border-radius: 200px;
}

.scroll-down{
    display:block;
    cursor:pointer;
    width:100px;
    
    border-radius: 10px;
    
}
.scroll-down:hover {
    background-color: var(--body-color);
    border-bottom: 2px solid var(--header-color);
}

/* -----------------------------Home Section--------------------------------- */

/*　-----------------------------About section------------------------------- */
    

.about__container{
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr;
    grid-template-areas: 
    "title title"
    "left-content right-content";
    gap:40px;

}
#title{
    justify-self: center;
    align-self: center;
    grid-area: title;
    /* background-color: wheat; */
    justify-content: center;
}
#left-content{
    justify-self: end;
    align-self: start;
    grid-area:left-content;
    /* background-color:var(--body-color); */
}
#right-content{
    width:40%;
    justify-self: start;
    align-self: start;
    grid-area:right-content;
    /* background-color:var(--header-color); */
}
/*　-----------------------------About section------------------------------- */





/*　-----------------------------Portfolio section------------------------------- */
/*　-----------------------------Portfolio section------------------------------- */





/* ---------------------------------Footer----------------------------------- */
/* ---------------------------------Footer----------------------------------- */




/*---------------------------- Pop up window -----------------------------------*/
.hidden{
    display:none;
}

.scrollto {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 10px;
}
.scrollto:hover{
    background-color:grey;
    color:white;
}



.modal {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100vh;
    background-color: violet;
    border-radius: 5px;
    text-align: center;
   
}
.close {
    right:0;
    top: 0;
    color:black;
}

/*---------------------------- Pop up window -----------------------------------*/

/*
hello

.nav-container{
    display:flex;
    justify-content: space-between;
}



.list li{
    list-style: none;
    display:inline-block;
    margin: 0 60px;
    
}
.list li a{
    text-decoration: none;
    font-size:1.5rem;
}
.list li a:hover{
    color:var(--text-lighter);
}



/*
.nav-contact a{
    text-decoration: none;
    font-size:1.5rem;
    margin-left: 100px;
}
.nav-contact a:hover{
    color:var(--text-lighter);
}
*/
